
@{
    ViewBag.Title = "Historial de Ventas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div ng-controller="ventaCtrl" ng-init="init()" class="row">
    <div class="col-md-12">
        <div class="card shadow mb-4">
            <div class="card-header">
                <strong class="card-title">Historial de ventas</strong>
            </div>
            <div class="card-body">
                <form name="formVenta">
                    <div class="col-lg-12 text-center ">
                        <h2>Historial de Ventas</h2>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label class="form-label">Cliente:</label>
                            <select class="form-control" ng-model="IdCliente" required>
                                <option value="" disabled selected>SELECCIONAR</option>
                                <option ng-repeat="obj in clientes" ng-value="{{ obj.Id }}">{{ obj.Nombre }}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label">Sucursal:</label>
                            <select class="form-control" ng-model="IdSucursal" required>
                                <option value="" disabled selected>SELECCIONAR</option>
                                <option ng-repeat="obj in sucursales" ng-value="{{ obj.Id }}">{{ obj.Nombre }}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2 mt-4" ng-hide="dataForm">
                            <button type="button" class="btn btn-outline-primary me-4" ng-click="buscar()">
                                <i class="fas fa-search"></i> Buscar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row my-4" ng-hide="dataForm">
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-body">
                        <h3 class="mb-2 text-center">Lista de Ventas</h3>
                        <table class="table datatables" id="dataTable-1">
                            <thead >
                                <tr>
                                    <th>No. Factura</th>
                                    <th>Cliente</th>
                                    <th>Sucursal</th>
                                    <th>Estatus</th>
                                    <th>Tipo de Pago</th>
                                    <th>Total</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="obj in listaVentas">
                                    <td>{{ obj.NoFactura }}</td>
                                    <td>{{ obj.Cliente.Nombre }}</td>
                                    <td>{{ obj.Sucursal.Nombre }}</td>
                                    <td>{{ obj.Estatus == 1 ? 'Facturada' : (obj.Estatus == 2 ? 'Anulada' : 'Pendiente') }}</td>
                                    <td>{{ obj.TipoPago.Nombre }}</td>
                                    <td>{{ obj.Total | currency }}</td>
                                    <td>{{ obj.FechaHora.replace('/Date(','').replace(')/','') | date: 'dd/MM/yyyy' }}</td>
                                </tr>
                            </tbody>

                        </table>
                        <ul uib-pagination total-items="totalItems" items-per-page="10"
                            boundary-links="false" direction-links="true"
                            ng-model="currentPage" ng-change="pageChanged()"
                            class="justify-content-center">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
       
</div>

        @section Scripts{
            <script>
        app.controller("ventaCtrl", function($scope, $http) {
            $scope.listaVentasBase = [];
            $scope.clientes = [];
            $scope.sucursales = [];
            $scope.vehiculos = [];
            $scope.tipoPagos = [];

            $scope.listaVentas = [];
            $scope.currentPage = 1;
            $scope.numPerPage = 10;

            $scope.init = function() {
                $scope.titulo = "Historial de Ventas";
                $scope.buscar();
                $scope.cargarClientes();
                $scope.cargarSucursales();
                $scope.cargarVehiculos();
            };

            $scope.cargarClientes = function() {
                var request = {
                    method: "POST",
                    url: "@Url.Action("Buscar", "Cliente")",
                    data: {}
                };

                $http(request).then(function(response) {
                    $scope.clientes = angular.fromJson(response.data);
                });
            };

            $scope.cargarSucursales = function() {
                var request = {
                    method: "POST",
                    url: "@Url.Action("Buscar", "Sucursal")",
                    data: {}
                };

                $http(request).then(function(response) {
                    $scope.sucursales = angular.fromJson(response.data);
                });
            };

            $scope.cargarVehiculos = function() {
                var request = {
                    method: "POST",
                    url: "@Url.Action("Buscar", "Vehiculo")",
                    data: {}
                };

                $http(request).then(function(response) {
                    $scope.vehiculos = angular.fromJson(response.data);
                });
            };

            $scope.cargarTipoPagos = function() {
                var request = {
                    method: "POST",
                    url: "@Url.Action("Buscar", "TipoPago")",
                    data: {}
                };

                $http(request).then(function(response) {
                    $scope.sucursales = angular.fromJson(response.data);
                });
            };

            $scope.buscar = function() {
                var request = {
                    method: "POST",
                    url: "@Url.Action("Buscar", "Venta")",
                    data: {
                        IdCliente: $scope.IdCliente,
                        IdSucursal: $scope.IdSucursal,
                        IdVehiculo: $scope.IdVehiculo
                    }
                };

                $http(request).then(function(response) {
                    $scope.listaVentasBase = angular.fromJson(response.data);
                    $scope.totalItems = $scope.listaVentasBase.length;
                    $scope.$watch("currentPage + numPerPage", function() {
                        var inicioPag = (($scope.currentPage - 1) * $scope.numPerPage);
                        var finPag = inicioPag + $scope.numPerPage;
                        $scope.listaVentas = $scope.listaVentasBase.slice(inicioPag, finPag);
                    });
                });
            };

            $scope.pageChanged = function() {
                var inicioPag = (($scope.currentPage - 1) * $scope.numPerPage);
                var finPag = inicioPag + $scope.numPerPage;
                $scope.listaVentas = $scope.listaVentasBase.slice(inicioPag, finPag);
            };
        });

            </script>

        }
